@model SolucionCacao.Models.Propietario

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>Detalles del propietario</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary"  asp-route-id="@Model.Id">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
</div>
