@model SolucionCacao.Models.ZonaEstudio

@{
    ViewData["Title"] = "Eliminar Zona de Estudio";
}


<h3>¿Está seguro de eliminar esta zona de estudio?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Propietario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.propietario.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coordenadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cultivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cultivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Densidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Densidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
    </form>
</div>
