@model SolucionCacao.Models.ZonaEstudio

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>Detalle de la zona de estudio</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Propietario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.propietario.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coordenadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cultivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cultivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Densidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Densidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
</div>
