@model IEnumerable<SolucionCacao.Models.ZonaEstudio>

@{
    ViewData["Title"] = "Index";
}

<h1>Lugares -<i>(Zona de estudio)</i></h1>
@if(TempData["mensaje"] != null)
{
   @Html.Raw(TempData["mensaje"].ToString())
}
<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table table-success table-striped table-bordered">
    <thead>
        <tr class="table-success">
            <th>
                Propietario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coordenadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cultivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Densidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.propietario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coordenadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cultivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Densidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info">Detalle</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
