@model SolucionCacao.Models.Ficha

@{
    ViewData["Title"] = "Delete";
}

@if(TempData["mensaje"] != null)
{
   @Html.Raw(TempData["mensaje"].ToString())
   <hr>
}

<h3>¿Está seguro de eliminar esta ficha?</h3>
<div>
    <h4>Ficha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de la Ficha
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFicha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            Técnico responsable
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTecnicoNavigation.Nombres)
        </dd>
        <dt class = "col-sm-2">
            Zona de Estudio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdZonaNavigation.Lugar)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
    </form>
</div>

