@model SolucionCacao.Models.Ficha

@{
    ViewData["Title"] = "Details";
}
<div>
    <h2>Detalle de la Ficha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreFicha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFicha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            Técnico a cargo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTecnicoNavigation.Nombres)
        </dd>
        <dt class = "col-sm-2">
            Zona de Estudio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdZonaNavigation.Lugar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
</div>
