@model SolucionCacao.Models.lineaFichas

@{
    ViewData["Title"] = "Details";
    string id = Convert.ToString(ViewData["IdFicha"]);

}

<h2>Detalle</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Severidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Severidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> 
    <a asp-action="Index" asp-route-id="@id" class="btn btn-outline-secondary">Regresar</a>
</div>
